<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Star Social</title>
    <!-- bootstrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- MEdium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
      type="text/css"
      media="screen"
      charset="utf-8"
    />

    <!-- Custom CSS  -->
    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}" />
  </head>
  <body>
    <nav class="navbar mynav" role="navigation" id="navbar">
      <div class="container">
        <a class="navbar-brand mynav" href="{% url 'home' %}">Star Social</a>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'posts:create' %}">Post</a></li>
          <li><a href="{% url 'groups:all' %}">Groups</a></li>
          <li><a href="{% url 'groups:create' %}">Create Group</a></li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'groups:all' %}">Groups</a></li>
          <li><a href="{% url 'accounts:login' %}">Log In</a></li>
          <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
